<div style="text-align: center" class="pt-3 m-4">
   <h2><%= @user.username %>さん</h2>
   <%= image_tag get_profile_image(@user.image), class: 'media-object circle mt-4', :style => 'width:150px; height:150px' %>
</div>

<%= render 'form' %>
