/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 @import "tempusdominus-bootstrap-4.css";
 
.circle {
   border-radius: 50%;
}

.card-datetime-area {
   border-right: solid 1px;
   border-color: #DDDDDD;
   text-align: center;
}

.show-main {
   background-color: white;
   border: solid 1px;
   border-color: #DDDDDD;
   border-radius: 10px;
}

.show-sub {
   background-color: white;
   border: solid 1px;
   border-color: #DDDDDD;
   border-radius: 10px;
   height: 400px;
}

.content .name {
   background-color: rgb(84, 177, 231);
   color: white;
   border-radius: 10px;
}

.content-group .name {
   border-bottom: solid 5px;
   border-color: rgb(11, 7, 233);
}

.show-sub .date-area {
   text-align: center;
}

.show-sub .mini-content {
   border-bottom: solid 1px;
   border-color: #DDDDDD;
}

.comment-title {
   border-bottom: solid 1px;
}

.show-title {
   border-bottom: solid 1px;
   border-color: #DDDDDD;
}

#map {
   height: 400px;
}

@media screen and (min-width:768px){
   .fixed-layout {
      position: fixed;
      float: right;
   }
}
 