@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

.circle {
   border-radius: 50%;
}

.non-top-border {
   border-left: solid 1px;
   border-right: solid 1px;
   border-bottom: solid 1px;
   border-color: #DDDDDD;
   border-radius: 3px;
}

.card-datetime-area {
   border-right: solid 1px;
   border-color: #DDDDDD;
   text-align: center;
}