@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

.circle {
   border-radius: 50%;
}

.non-top-border {
   border-left: solid 1px;
   border-right: solid 1px;
   border-bottom: solid 1px;
   border-color: #DDDDDD;
}

.card-datetime-area {
   border-right: solid 1px;
   border-color: #DDDDDD;
   text-align: center;
}

.show-main {
   background-color: white;
   border: solid 1px;
   border-color: #DDDDDD;
   border-radius: 10px;
}

.show-sub {
   background-color: white;
   border: solid 1px;
   border-color: #DDDDDD;
   border-radius: 10px;
   height: 400px;
}

.content .name {
   background-color: rgb(84, 177, 231);
   color: white;
   border-radius: 10px;
}

.content-group .name {
   border-bottom: solid 5px;
   border-color: rgb(11, 7, 233);
}

.show-sub .date-area {
   text-align: center;
}

.show-sub .mini-content {
   border-bottom: solid 1px;
   border-color: #DDDDDD;
}

.comment-title {
   border-bottom: solid 1px;
}

#map {
   height: 400px;
}

@media screen and (min-width:768px){
   .fixed-layout {
      position: fixed;
      float: right;
   }
}
