<div class="ui inverted small menu">
   <div class="ui container">
      <a class="item">
         イベント
      </a>
      <a class="item">
         登録ユーザー一覧
      </a>
      <a class="item">
         スキルタグ
      </a>
      <div class="right menu">
         <div class="ui dropdown item">
            アカウント <i class="dropdown icon"></i>
            <div class="menu">
               <a class="item">English</a>
               <a class="item">Russian</a>
               <a class="item">Spanish</a>
            </div>
         </div>
         <div class="item">
            <div class="ui primary button">サインアップ</div>
         </div>
      </div>
   </div>
</div>