doctype html
html
  head
    title
      | MokumokuApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag src="#{ENV['FONTAWSOME_URL']}", crossorigin: 'anonymous'
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  body.bg-light.text-dark
    = render 'layouts/navigation'
    = render 'shared/messages'
    .container
      = yield
